:root {
    --primary-clr: #035CC3;
    --primary_dark-clr: #044797;
    --on_background-clr: #3D3535;
    --inactive-clr: lightslategray;
    --pink_smoothie-clr: #FF9685;
    --mint_smoothie-clr: #D6F9E7;
    --green_smoothie-clr: #79DCA8;
    --blue_smoothie-clr: #84CEDA;
    --purple_smoothie-clr: #E3A2BA;
    --yellow_smoothie-clr: #F9C465;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header__figure {
    height: 159px;
    margin: 0;
    background-image: url(smoothie.jpg);
    background-position: center;
    background-size: cover;
}

.header__title {
    padding: 1rem 1.5rem;
    margin: 0;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
}

main {
    margin: 0 1.5rem;
    padding: 1.5rem 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.product {
    padding: 1rem;
    min-height: 121.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: var(--on_background-clr);
    background: var(--pink_smoothie-clr);
}

.product__description,
.product__price {
    margin: 0;
}

.product__price {
    font-weight: 600;
}

footer {
    text-align: center;
    padding: .25rem 0 1rem 0;
    color: var(--on_background-clr);
    display: none;
}

/* BACKGROUNDS */

.product__background--pink {
    background: var(--pink_smoothie-clr);
}

.product__background--mint {
    background: var(--mint_smoothie-clr);
}

.product__background--green {
    background: var(--green_smoothie-clr);
}

.product__background--blue {
    background: var(--blue_smoothie-clr);
}

.product__background--purple {
    background: var(--purple_smoothie-clr);
}

.product__background--yellow {
    background: var(--yellow_smoothie-clr);
}

/* OVERLAY */

.manage {
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-sizing: border-box;
}

/* .manage--active {
    top: 0;
} */

.manage__title {
    margin: 0;
    border-bottom: 2px solid var(--on_background-clr);
    padding-bottom: 1rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.manage__title--content {
    font-size: 2.25rem;
    font-weight: 600;
}

/* .manage__title--content {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

.manage__icon {
    color: var(--primary-clr);
    font-size: 36px;
    margin-right: 1rem;
}

.manage__product {
    font-size: 26px;
    margin: 0 .5rem 1.25rem .5rem;
    display: block;
}

.manage__price {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 1.25rem 0;
    display: block;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
}

.btn.state--active:hover,
.btn:focus {
    outline: none;
}

.btn__quantity {
    font-size: 33px;
    margin: .5rem .5rem;
}

.quantity__input {
    text-align: center;
    width: 3rem;
    font-size: 32px;
    border: none;
}

.quantity__input:focus {
    border: none;
}

.quantity__input::-webkit-inner-spin-button,
.quantity__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.state--inactive {
    color: var(--inactive-clr);
}

.state--active {
    color: var(--primary-clr);
}

.manage__btn {
    padding: .75rem;
    margin-bottom: .5rem;
    background: var(--primary-clr);
    font-size: 1.25rem;
    color: #FFF;
}

.manage__btn--add {
    display: flex;
    justify-content: space-between;
}
  
.manage__btn:hover,
.manage__btn:focus {
    background: var(--primary_dark-clr);
}

/* CHECKOUT REFERENCE */

.checkout__reference {
    background: var(--primary-clr);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 2rem;
    color: #FFF;
    display: none;
    grid-template-columns: 1fr 4fr;
    font-weight: 600;
}

.checkout__reference--active {
    display: grid;
}

/* .checkout__reference svg {
    height: 38px;
    width: auto;
    position: relative;
    top: 12px;
} */

.checkout__basket {
    background-image: url(basket3.svg);
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    padding-right: 1rem;
}

.reference__price {
    margin: 0;
    padding-bottom: .5rem;
    font-size: 22px;
}

.reference__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.reference__quantity {
    background: #FFF;
    color: var(--primary-clr);
    text-align: center;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: inline-block;
}

/* MANAGE ORDER */

.manage__order {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
}

.manage__orders {
    overflow-y: scroll;
    padding: 1rem 0;
    min-height: 50%;
}

.order__row {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 1rem;
    padding: .5rem 0;
}

.order__row--quantity {
    background: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order__row--price {
    color: var(--primary-clr);
    grid-column: 2/3;
}

.manage__total {
    padding: 1rem 0 0 0;
}

.manage__total--output {
    color: var(--primary-clr);
}

.manage__table {
    padding: 1rem 0;
}

.manage__icon--table {
    padding-left: .5rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url(chevron-compact-down.svg);   /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    font-size: 22px;
    border: none;
    padding: 0 3rem 0 1rem;
 }

 select:focus {
    outline: none;
 }

 .manage__table {
     display: flex;
 }

 .btn__remove {
     color: tomato;
     font-size: 20px;
 }
